body {
    font-family: $font-stack;
    //background-color: $nav-bg;
    //font-size: 13px;
    color: $text-color;
    overflow-x: hidden;
    scroll-behavior: smooth;
}  
html,body {
    height: 100%;
}
.no-padding {
    padding: 0 !important;
}

.page-content {
  margin-top: $topBar-height;
  min-height: $min-page-height;
  padding: 0;
}
$sidebar-width: 260px; 
.with-sidebar {
    margin-left: $sidebar-width;
}

.footer {

    background: none repeat scroll 0 0 white;
    border-top: 1px solid $border-color;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  .footer.fixed_full {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding:10px 20px;
    background: white;
    border-top: 1px solid $border-color;
    text-align: center;
  }
  
  .footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding:10px 20px;
    background: white;
    border-top: 1px solid $border-color;
    margin-left: $sidebar-width;
    text-align: center;
  }

  .gotoTop {
    position: fixed;
    right: 20px;
    bottom: 50px;
    outline: none;
    button.scroll {
        opacity: 0.3;
        background-color: #444;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        border: none;
        outline: none;
        
        &:hover {
          opacity: 1;
        }
      }
      
      .arrow-up {
        color: #ff6464;
      }
        
  }

  