
.detail-wrapper {
    padding: 30px;
    .detail-title {
        text-align: center;
    }
    .detail-gallery {
        margin: 20px auto;
        width: 70%;
        .image-gallery-slide {
            text-align: center;
            background-color: transparent;
        }
        .image-gallery-slide {
            img {
                max-height: 550px;
                height: 550px;
                width: auto;
            }
            .image-gallery-image {
                span.image-gallery-description {
                    right: 0px;
                    left: initial;
                }
            }
        }
        
    }
    .detail-content {
        margin: 20px auto;
        .detail-media {
            text-align: center;
            img {
                margin: 0 auto 10px auto;
                max-width: 100%;
            }
            .detail-caption {
                font-weight: bold;
            }
            margin: 20px auto;
        }
        p.detail-text {
            text-indent: 2em;
        }
    }
}
