$carousel-height: 50vh;
.carousel {
    max-height: $carousel-height;
    margin-top: $topBar-height; 
    .carousel-inner {
        .carousel-item {
            img {
                height: $carousel-height;
                min-width: 100%;
            }
        }
    }
    .carousel-caption {
        z-index: 10;
        h1 {
            font-weight: 700;
        }
        p {
            font-weight: 700;
        }
    }
  } 
.carousel-fade {
    .carousel-inner .item {
        opacity: 0;
        -webkit-transition-property: opacity;
        transition-property: opacity;
    }
    .carousel-inner {
        .active {
            opacity: 1;
        }
        .active.left,
        .active.right {
            left: 0;
            opacity: 0;
            z-index: 1;
        }
        .next.left,
        .prev.right {
            opacity: 1;
        }
    }
    .carousel-control {
        z-index: 2;
    }
}
.carousel-control.left,
.carousel-control.right {
background: none;
}
.carousel-control {
width: 6%;
}
.catalogs {
    $padding: 30px;
    min-height: 40vh;
    margin: $padding;
    .col {
        overflow: hidden;
        margin: 20px 0px;
        //max-height: $card-height;

        a.catalog-card {
            text-align: center;
            overflow: hidden;
            display: block;
            position: relative;
            height: auto;
            text-decoration: none;
            font-weight: bold;
            color: #4f4f4f;
            //max-height: $card-height
            img {
                object-fit: cover; 
                width: 100%;
                height: 150px;
            }
            
            .catalog-name {
                position: absolute;
                text-align:center;
                font-size: 30px;
                width: 100%;
                height: 100%;
                top: -220px;
                padding: 20px;
                left: 0px;
                background-color: rgba(255,255, 255,0.5);
                transition:all .8s;           
            }
            &:hover {
                .catalog-name {
                    top: 0px;
                }
            }
        }
    }
}
.tangka {
    background-image: url('/img/tangka.jpg');
    background-attachment: fixed;
    
    height: 100vh;
    background-position: center;
    .jumbotron {
        padding-top: 30vh;
        color: #fff;
        background-color:rgba(0, 0, 0, 0.2);
        height: 100%;
    }
    a {
        text-decoration: none;
        color: #fff;
        font-size: 50px;
    }
}
